{{#with celebrity}}
<h2>{{name}}</h2>

<span>{{name}} is a {{occupation}}</span>
<p>"{{catchPhrase}}" describes {{name}} best</p>

{{/with}}
<a href="/celebrities">Back to List of Celebrities</a>

<a href="/celebrities/{{celebrity._id}}/edit">Edit this Celebrity</a>

<form action="/celebrities/{{celebrity._id}}/delete" method="POST">
  <button type="submit">Delete this Celebrity</button>
</form>