<h2>List of Movies</h2>

{{#each movies}}
    <p>
        <a href="/movies/{{_id}}">{{ title }}</a>
    </p>
    <p>{{ genre }}</p>
    <p>{{ plot }}</p>
    <h4>Cast:</h4>
    <ul>
        {{#each cast}}
        <li>
            {{name}}
        </li>
        {{/each}}
    </ul>
{{/each}}

<br>
<a href="/movies/new">Add a Movie</a>